body
{
    background-image:url(images/bg-header-desktop.png);
    background-color: hsl(0, 0%, 100%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding: 0;
    color:hsl(210, 10%, 33%);
    display: flex;
    justify-content:space-around; 
    align-items:center;
    flex-direction: column;  
}
main
{   
   
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-direction: column;  
}
h1,
h2
{
    font-weight: 600;
}
h3
{
    font-weight: 600;
    font-size: 18px;
}
#container
{
    text-align: center;
}

header
{
    width: 70%;
    padding-top:5%;
    margin-left: auto;
    margin-right: auto;
}
.title
{
    width: 70%;
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
}
.computerwithtext
{
    width: 100%;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-areas: 
    "computer text";
    text-align:left;
    justify-content: space-around

    
}
.computer
{
    width: 90%;
    grid-area: computer;
    
}
.computer img
{
    
    background-size:contain;
    background-repeat:no-repeat ;
}
.text
{
    width: 90%;
    grid-area: text;
   
}
.smartphone
{
    width: 70%;
}

.info
{
    width: 100%;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    text-align:center;
    justify-content: center; 
    grid-template-areas: 
    "blacklist itext preview";
    
}
.ad
{
    
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    justify-content: center;
    align-items: center;  
    grid-template-areas: 
    "google ibm micro hp vectron";
    
}
.footer
{
    width:100%;
    background-color: hsl(201, 11%, 66%);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    justify-content: center;
    align-items: center;  
    margin-top: 60px;
    grid-template-areas: 
    "logo nav iconsoc";
    
}

.nav
{
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.nav div
{
    width: 200px;
    padding: 15px;
}
.nav a
{
    text-decoration: none;
    color:hsl(210, 10%, 33%); 
}
.nav a:hover
{
    text-decoration: none;
    color:hsl(171, 66%, 39%);
    font-weight: 600;
}

#fb:hover,
#tw:hover,
#in:hover
{
    fill-opacity:0.5;
    
}

.ios
{
    font-size: 18px;
    background-color: hsl(171, 66%, 44%);
    text-align: center;
    padding:15px 40px;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    border-style:none;
    -webkit-box-shadow: 3px 4px 12px -4px rgba(58,196,116,1);
    -moz-box-shadow: 3px 4px 12px -4px rgba(58,196,116,1);
    box-shadow: 3px 4px 12px -4px rgba(58,196,116,1);
    transition: all 0.2s ease-in-out;
}
.mac
{
    font-size: 18px;
    background-color: hsl(233, 100%, 69%);
    text-align: center;
    padding:15px 40px;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    border-style:none;
    -webkit-box-shadow: 3px 4px 12px -4px rgba(58,133,194,1);
    -moz-box-shadow: 3px 4px 12px -4px rgba(58,133,194,1);
    box-shadow: 3px 4px 12px -4px rgba(58,133,194,1);
    transition: all 0.2s ease-in-out;
}
.mac:hover

{
    cursor: pointer;
    background-color: hsl(233, 58%, 55%);
    outline: none;
    -webkit-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
	
}
.ios:hover

{
    cursor: pointer;
    background-color: hsl(171, 66%, 39%);
    outline: none;
    transform: scsle(2,2);
    -webkit-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
	
}
.mac:focus,
.ios:focus
{
    outline: none;
}


@media screen and (max-width:1200px) 
{
    
    .computerwithtext
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "computer"
        "text"
        ;
        text-align:center;
        justify-content: center;
    }
    .info
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
    "blacklist" 
    "itext" 
    "preview"
    ;
    }
    .ad
    {
        
        grid-template-columns: 1fr;
        grid-template-areas: 
        "google" 
        "ibm" 
        "micro" 
        "hp" 
        "vectron"
        ;
        text-align:center;
        justify-content:space-around;
        gap:15px;
    }
    .footer
    {
        padding-top: 4%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo" 
        "nav" 
        "iconsoc"
        ;
    }
    .iconsoc
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fb tw in" ;
        
    }
    .nav
    {
        justify-content: center;
    }





}


.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}